.titulo-retablecer{
    margin-top: 30px;
    text-align: center;
}
.parrafo{
    text-align: center;
    padding-top: 10px;
}
.boton{
    margin-left: 60px;
  font-size: 15px;
}
.input{
    background-color: rgba(238, 232, 144, 0.253);
  }