<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="logo" src="../../assets/img/logo.PNG" alt="">

  <div class="ion-card-content">
    <h3 class="subtitulo" > {{dato}}, ¿Que quieres ser Hoy?</h3>
    <ion-item>
      <ion-button class="boton-eleccion" color="warning">Chofer</ion-button>
      <img class="img" src="../../assets/img/chofer.png" alt="">
  </ion-item>
    <ion-item>
      <ion-button class="boton-eleccion" color="warning">Pasajero</ion-button>
      <img class="pasajero" src="../../assets/img/pasajero.png" alt="">
  </ion-item>
  </div>
  <ion-button size="small" class="boton-volver" [routerLink]="['/home'] ">Salir</ion-button>
</ion-content>
