<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>BIENVENIDO</h2>
  <div class="ion-card-content">
    <h3>Hoy Quiero ser..</h3>
    <ion-item>
      <ion-button class="boton-eleccion" color="tertiary">Chofer</ion-button>
  </ion-item>
    <ion-item>
      <ion-button class="boton-eleccion" color="secondary">Pasajero</ion-button>
  </ion-item>
  <ion-button class="boton" color="success">Aceptar</ion-button>
  </div>
  <ion-button size="small" class="boton-volver" [routerLink]="['/home'] ">Volver</ion-button>
</ion-content>
